@page "/cart"

@if (ShoppingCartItems is null && ErrorMessage is null)
{
    <DisplaySpinner />
}
else if (ErrorMessage is not null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <MudText Class="m-4" Typo="Typo.h4">Shopping Cart</MudText>
    @if (ShoppingCartItems.Count() > 0)
    {
        <MudGrid Class="mb-5">
            <MudItem xs="12" md="9">
                @foreach (var item in ShoppingCartItems)
                {
                    <MudGrid Class="mb-4">
                        <MudItem xs="12" md="4">
                            <MudImage Src="@item.ProductImageURL" Width="300" />
                        </MudItem>
                        <MudItem xs="12" md="8">
                            <MudText Typo="Typo.h5">@item.ProductName</MudText>
                            <MudText Typo="Typo.subtitle1" Class="mb-4">@item.ProductDescription</MudText>
                            <MudItem>
                                Price: <b>@item.Price.ToString("C")</b>
                                <MudNumericField @bind-Value="item.Quantity" Width="100px" Variant="Variant.Outlined" @oninput="(() => UpdateQuantity(item.Id))" />
                                <MudButton Variant="Variant.Outlined" Color="Color.Info" OnClick="(() => UpdateQuantityCartItem(item.Id, item.Quantity))">
                                    Update Quantity
                                </MudButton>
                            </MudItem>
                            <MudButton Color="Color.Error" Size="Size.Small" OnClick="(() => DeleteCartItem(item.Id))">
                                <MudIcon Icon="@Icons.Material.Filled.Delete" />
                            </MudButton>
                        </MudItem>
                    </MudGrid>
                }
            </MudItem>
            <MudItem xs="12" md="3">
                <h5>Cart Summary</h5>
                <div Class="mt-2">
                    <div>Total - (@TotalQuantity items)&nbsp;<b>@TotalPrice</b></div>
                    <MudLink Href="checkout" Color="Color.Success">
                        <MudIcon Icon="@Icons.Material.Filled.CreditCard" />&nbsp; Proceed to Checkout
                    </MudLink>
                </div>
            </MudItem>
        </MudGrid>
        @* <div class="row mb-5">
            <div class="col-md-9">
                @foreach (var item in ShoppingCartItems)
                {
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="@item.ProductImageURL" width="300" class="img-thumbnail">
                        </div>
                        <div class="col-md-8">
                            <h5>@item.ProductName</h5>
                            <div class="mb-4">@item.ProductDescription</div>
                            <span>
                                Price: <b>@item.Price.ToString("C")</b>
                                <input @oninput="() => UpdateQuantity(item.Id)" type="number" @bind="@item.Quantity" />
                                <button data-itemId="@item.Id" class="btn btn-info btn-sm update-qty"
                                @onclick="(() => UpdateQuantityCartItem(item.Id, item.Quantity))">
                                    Update Quantity
                                </button>
                            </span>
                            <div>
                                <button @onclick="(() => DeleteCartItem(item.Id))" class="btn btn-danger sm">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">
                <h5>Cart Summary</h5>
                <div class="mt-2">
                    <div>Total - (@TotalQuantity items)&nbsp;<b>@TotalPrice</b></div>
                    <a href="checkout" class="btn btn-success">
                        <span class="oi oi-credit-card"></span>&nbsp; Proceed to Checkout
                    </a>
                </div>
            </div>
        </div> *@
    }
    else
    {
        <h4>There are currently no items in your shopping cart</h4>
    }
}
